/* Footer Styles */
footer {
    background-color: rgba(0, 0, 0, 0.7);
    padding: 20px 0;
    text-align: center;
    box-shadow: 0 -2px 4px rgba(0, 0, 0, 0.1);
}

footer p {
    margin: 0;
    font-size: 0.8em;
    color: #fff;
}

/* Back to Top Button Styles */
#backToTop {
  position: fixed;
  bottom: 25px;
  right: 25px;
  background-color: black;
  color: white;
  border: none;
  padding: 10px 12px;
  border-radius: 50%;
  font-size: 18px;
  cursor: pointer;
  display: none;
  transition: background-color 0.3s ease;
}

#backToTop:hover {
  background-color: #333;
}
